.main-content {
    background: url('images/div-bg.jpg');
    
    display: grid;

    grid-template-columns: 351px 351px 351px 351px ;

    justify-content: center;

    grid-gap: 20px;

    height: 630px;

    background-size: contain;

    background-repeat: no-repeat; 

    margin-left: 10px;
    margin-right: 10px;

    padding-top: 252px;
    padding-left: 20px;
    padding-right: 20px;
}

.shop-rec,.sign-in-element {
    background-color: white;

    height: 422px;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sign-in-element {
    height: 134px;    
}



.category-grid {

    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

}