.nav-bar{
		background-color: rgb(43, 34, 50);
		height: 40px;

		position: static;

		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.nav-buttons,.nav-buttons-all {
		padding-top: 10px;
		padding-bottom: 10px;

		background-color: transparent;

		color: white;

		border: none;

		font-family: arial;
		font-weight: 520;
	}

	.nav-buttons-all{
		display: flex;
		align-items: center;

		padding-top: 7px;
		padding-bottom: 7px;

		position: static;
	}

	
	.nav-buttons:hover,.nav-buttons-all:hover {
		border-style: solid;
		border-width: 1px;
		border-color: white;
		border-radius: 2px;
	}

