    .top-bar {
        display : flex;
        align-items: center;
        justify-content: space-evenly;

        background-color: #0F1111;
        height : 60px;

        padding-left : 18px;
        padding-right : 18px;

        position: fixed;
        left: 0;
        right:0;
        top: 0;
    }

    .left-section {
        display: flex;
        flex: 1;
    }
    .middle-section {
        display : flex;

        flex: 2;

        height : 40px;
    }

    .search-box {
        flex : 1;
        padding-top : 10px;
        padding-bottom : 10px;
        padding-left : 10px;

        font-family: Roboto;
        font-size : 16px;

        border : none;
    }

    .search-button {
        padding-left: 10px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 2px;

        border : none;

        background-color: #FEBD69;

        border-top-right-radius : 4px;
        border-bottom-right-radius: 4px;

        overflow:hidden;

        margin-left : -1px
    }

    .drop-down {
        border : none;

        padding: 10px;

        font-size : 12px;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .dropdown-button {
        border : none;
        background-color: transparent;
    }


    .home-button {
        display : flex;
        align-items: center;

        color : white;
        font-size : 14px;
    }

    .amazon-icon {
        margin-top : 6px;

        height : 32px;
        width: 94px;
    }



    p{
    font-family : arial;
    margin: 0;
}

.location-box {
    display: flex;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;

    margin-left: 12px;
}
.location-icon {
    margin-top : 8px;
    margin-right: 1px;
}
.location-default {
    color : rgb(191, 191, 191);
    font-size : 12px;
}
.location-change-button {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.home-button:hover,.location-box:hover {
    border-style: solid;
    border-color: white;;
    border-radius: 2px;
    border-width: 1px;
}

.right-section {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
}

.language-button {
    display: flex;

    align-items: center;
    
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    color: white;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;

    width: 44px;

    margin-left: 16px;
    margin-top: 10px;
}

.flag{
    margin-right: 4px;
}

.account-button {
    display: flex;
    flex-direction: column;
    color: white;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.sign-in-message {
    font-size: 12px;
    color: rgb(223, 223, 223);
}
.accounts-option {
    font-weight: 700;
    font-size: 14px;
    word-spacing: -1px;;
}

.orders-button {
    display: flex;
    flex-direction: column;

    color: white;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.returns {
    font-size: 12px;
    color: rgb(210, 210, 210);
}
.orders {
    font-weight: 700;
    font-size: 14px;
}

.cart {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

    display: flex;
    flex-direction: row;
}
.cart-area {
    position: relative;
}
.items {
    position: absolute;
    top: 0;
    left: 9px;
    bottom: 8px;

    color: white;
    font-weight: 700;
}

.cart-icon {
    width: 28px;
    margin-top: 10px;
}
.cart-text {
    font-weight: bold;
    font-size: 14px;
    color: white;	
    margin-top: 18px;
    margin-left: -4px;
}

.language-button:hover,.account-button:hover,.orders-button:hover {
    border-style: solid;
    border-color: white;;
    border-radius: 2px;
    border-width: 1px;
}